/*-------------------------------------*\

	IOB-WEBSITE WORDPRESS THEME

	See style.css for the WP info.

	- Nils Westhoff

	base.scss
	+ Dependencies
	+ Variables (colors and fonts)
	+ Mixins
	+ Imports

	...

\*-------------------------------------*/





/*-------------------------------------*\
	Dependencies
\*-------------------------------------*/

// Grids (default breakpoints, wrappers, containers, etc.)
@import "grid";





/*-------------------------------------*\
	Variables
\*-------------------------------------*/

// Fonts
$font--heavy: 'Muli', sans-serif;
$font--light: 'Muli', sans-serif;

// Colors
$accent: #31307D;
$accent--secondary: #841a26;
$background--light: #fafafa;
$background--gray: #222;

$hex--warning: red;
$hex--success: green;

$social:
	(insta, #e1306c),
	(facebook, #3b5998),
	(flickr, #ff0084),
	(vimeo, #1ab7ea),
	(messenger, #0084ff);

//transitions
$transition--cubic: cubic-bezier(0.77, 0, 0.175, 1);





/*-------------------------------------*\
	Mixins
\*-------------------------------------*/

@mixin fatUnderline() {
	position: relative;

	span {
		position: relative;
		z-index: 2;
	}

	&:after {
		content: '';
		display: block;
		left: 0;
		z-index: 1;
		position: absolute;
		bottom: 8px;
		left: -20%;
		width: 140%;
		height: 25px;
		bottom: 2%;
		margin-top: -1px;
		background: $accent--secondary;
	}
}





/*-------------------------------------*\
	Animations
\*-------------------------------------*/
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}





/*-------------------------------------*\
	Reset
\*-------------------------------------*/

*,
*:after,
*:before {
	box-sizing: border-box;
}

html {
	overflow-x: hidden;
}

body {
	margin: 0;
	background: $background--light;
	font-family: $font--light;
	font-size: 16px;
	overflow-x: hidden;

	@media (min-width: $brk--tablet) {
		font-size: 18px;
	}

	@media (min-width: $brk--desktop) {
		font-size: 20px;
	}
}





/*-------------------------------------*\
	Paragraph styles
\*-------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font--heavy;
	font-weight: 700;
}

h1 {
	font-size: 2.5em;
	color: black;

	@media (min-width: $brk--phone) {
		font-size: 3em;
	}
}

h2 {
	font-size: 2.4em;
	color: black;
	margin: 1.5em 0 .5em;
}

h3 {
	font-size: 1.4em;
	margin: .8em 0 .3em;
	color: black;
}

p {
	line-height: 1.6;
}

blockquote {
	margin: 1em 0;
	padding-left: 1.5em;
	border-left: .7em solid #eee;
}

.section {
	&__title {
		color: white;

		@include fatUnderline();

		&__wrapper {
			padding: 2*$pad 0;
			background: $accent;
		}
	}
}



/*-------------------------------------*\
	Buttons
\*-------------------------------------*/
@mixin button-background($color) {
	background: $color;

	&:hover {
		background: darken($color, 10%);
	}

	&:focus {
		background: darken($color, 15%);
	}
}

.button {
	display: inline-block;
	padding: .7em 1.4em;
	margin: 5px 0;
	border-radius: 50px;
	color: white;
	text-decoration: none;
	border: none;
	font-size: 1em;
	font-family: $font--light;
	@include button-background($accent--secondary);

	&:hover, &:focus {
		outline: none;
	}

	&--signup {
		display: inline-block;
	}

	&--light {
		background: none;
		border: 1px solid $accent;
		color: $accent;

		&:hover,
		&:focus {
			color: $background--light;
		}
	}

	&--white {
		background: none;
		border: 1px solid white;
		color: white;

		&:hover,
		&:focus {
			color: $accent;
			background: white;
		}
	}

	&--loading, &--success {
		display: none;
		font-family: fontawesome;
	}

	@each $socialnetwork, $color in $social {
		&--#{$socialnetwork} {
			@include button-background($color);
		}
	}
}







/*-------------------------------------*\
	Bies
\*-------------------------------------*/
// Holy bies
.bies {
	width: 100%;
	background: $accent;
	position: relative;
	padding-bottom: 1em;

	&--front-page {
		background: none !important;
		position: absolute;
	}

	&__image {
		height: 80px;
		position: relative;
		z-index: 11;
		display: block;
		margin: 0 auto;

		@media (min-width: $brk--tablet) {
			margin: 0 0 0 2em;
		}

		@media (min-width: $brk--desktop) {
			height: 7.5vw;
		}
	}
}
// Amen






/*-------------------------------------*\
	Menu
\*-------------------------------------*/

#wpadminbar {
	position: absolute;
}

.menu-toggle {
	position: fixed;
	right: 0;
	top: 0;
	height: 3.1rem;
	width: 6.4rem;
	padding-left: 2rem;
	padding-right: 1rem;
	line-height: 3.1rem;
	text-align: left;
	color: $accent--secondary;
	z-index: 11;
	cursor: pointer;
	transition: width 200ms ease-out;
	overflow: hidden;

	@media (min-width: $brk--tablet) {
		display: none;
	}

	&:before,
	&:after {
		display: block;
		content: "";
		width: 1.6rem;
		height: 5px;
		box-shadow: 0 11px 0 0 $accent--secondary;
		background: $accent--secondary;
		position: absolute;
		right: -.9rem;
		top: 12px;
		transition: right 200ms ease-out,
			color 200ms ease-out;
	}

	&:after {
		top: 23px;
		right: -.1rem;
		width: 1.2rem;
	}

	&.opened {
		width: 8.2rem;

		&:before {
			right: 1rem;
		}

		&:after {
			right: .6rem;
		}
	}
}

.menu-item { // This deviates from our naming style guide because of Wordpress
	a {
		text-decoration: none;
		color: white;
		padding: .8rem 1.4rem;
		display: block;

		&:hover {
			text-decoration: underline;
		}
	}
}

.primary-menu {
	width: 100%;
	font-family: $font--light;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	background: $background--gray;
	color: white;
	transform: translateX(100%);
	transition: transform 200ms $transition--cubic;
	z-index: 10;
	padding-top: 3rem;
	max-height: 100vh;
	padding-bottom: 1rem;
	overflow-y: auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;

	.current-menu-item {
		font-family: $font--heavy;
	}

	.menu-item {
		&--language-switch {
			a {
				text-transform: uppercase;
				padding: 1rem 0;
				display: inline-block;
			}
		}
	}

	&__list,
	&__language-switch {
		margin: 0;
		padding: 3rem 0 0;
		list-style: none;
	}

	@media (max-width: $brk--tablet + 1) {
		&__list {
			flex-basis: 100%;
			height: 100%;
		}

		&__language-switch {
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			padding: 0 1em 0 0;
			font-size: .9rem;

			&__context {
				padding: .8rem 0 .8rem 1.4rem;
			}

			&__link {
				font-weight: 900;
			}
		}

		&.opened {
			transform: translateX(0px);
		}
	}

	@media (min-width: $brk--tablet) {
		font-size: .9em;
		bottom: auto;
		padding: 0;
		position: absolute;
		transform: translateX(0px);
		background: transparentize($background--gray, 0.4);
		transition: padding 200ms ease-out,
			background 200ms ease-out;
		padding-left: 140px;
		padding-right: 2.5em;
		overflow-y: visible;

		&__list, &__language-switch {
			padding: 0.4rem 0.6rem 0.4rem 0.6rem;
		}

		&__language-switch {
			font-size: 1em;
			position: absolute;
			right: 0;

			&__context {
				display: none;
				padding: 0;
			}

			&:hover {
				background: $background--gray;
			}

			&:hover &__context {
				display: inline-block;
			}
		}

		.menu-item {
			display: inline-block;
			font-size: .9em;

			a {
				padding: .3em .6em;
			}

			&--language-switch {
				a {
					padding: .4rem 0;
					display: inline-block;
				}
			}
		}

		&--sticky {
			position: fixed;
			padding-left: 0;
		}
	}

	@media (min-width: $brk--desktop) {
		padding-left: 12vw;

		.menu-item {
			a {
				padding: .5em .8em;
			}
		}

		&--sticky {
			padding-left: 0;
		}
	}

	@media (min-width: $brk--large-desktop) {
		padding-left: 11vw;
		font-size: 1em;

		&--sticky {
			padding-left: 0;
		}
	}
}

.sub-menu {
	list-style: none;
	padding: 0;
	border-left: 1px solid white;
	margin-left: 1.4rem;
	font-size: .9em;

	@media (min-width: $brk--tablet) {
		position: absolute;
		top: 2.3em;
		margin-left: 0;
		border: none;
		background: $background--gray;
		font-size: 1em;
		opacity: 0;
		transform: translateY(-30%);
		transition: all ease-out 200ms;
		pointer-events: none;

		.menu-item a {
			padding: 1em;
		}
	}

	@media (min-width: $brk--desktop) {
		top: 2.6em;
	}
}

.menu-item:hover .sub-menu {
	opacity: 1;
	transform: translateY(0);
	pointer-events: inherit;
}





/*-------------------------------------*\
	Hero
\*-------------------------------------*/

.section {
	&--hero {
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		width: 100%;
		position: relative;

		&__background {
			position: absolute;
			height: 100%;
			width: 100%;
			z-index: -1;
			background-size: cover;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}

		&__container {
			margin-top: 3.5em;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			padding: 2rem;

			&--kick {
				@media (max-width: $brk--desktop) {
					display: none;
				}
			}

			& > * {
				max-width: 500px;
				color: white;
				background: $accent;
				padding: 1rem;
				flex-basis: auto;
				margin: 1rem 0 0;

				@media (max-width: $brk--real-phone) {
					margin: .6rem 0 0;
				}
			}
		}

		&__logo {
			width: 85%;
			max-width: 250px;
			height: auto;
			background: none !important;
			padding: 1rem 0;
		}

		&__title {
			font-size: 2em;
			@include fatUnderline();

			&:after {
				bottom: 10%;
				left: 2%;
				width: 96%;
			}
		}

		&__date {
			font-family: $font--light;
			display: inline-block;
		}

		&__kickstart {
			font-size: 5em;
			line-height: 1.2em;
			text-transform: uppercase;
			background: none !important;
			text-shadow: 6px 6px 0px black;

			&--small {
				font-family: FuturaBT;
			}

			@media (max-width: $brk--desktop) {
				display: none;
			}
		}
	}
}

.thumbnail {
	&--front-page {
		flex-shrink: 0;
		min-width: 100%;
		min-height: 100%
	}
}





/*-------------------------------------*\
	Stats
\*-------------------------------------*/

.section {
	&--stats {
		&__group {
			padding: $pad;
			text-align: center;
			margin: 0 2*$pad;

			@media (max-width: $brk--phone) {
				padding: 0;
				margin: 0 $pad;
			}
		}
	}
}

.stat {
	&__value {
		font-family: $font--light;
		font-size: 3em;
	}

	&__description {
		font-size: 1.2em;
	}
}





/*-------------------------------------*\
	Stats
\*-------------------------------------*/

.section {
	&__wrapper {
		&--fair {
			p {
				margin: 0 $pad 2*$pad;
				font-size: 1.2em;
			}
		}
	}
}






/*-------------------------------------*\
	Footer
\*-------------------------------------*/
.pri-footer {
	background: $background--gray;
	box-sizing: border-box;
	width: 100%;
	padding: 1rem $pad 2rem;

	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;

	&__col {
		flex-basis: 10rem;
		flex-grow: 1;
		width: 10rem;
		margin: 0 1rem;
		opacity: .88;
	}

	&__association {
		color: $background--light;
		font-size: .9em;
	}

	&__logo {
		max-width: 16rem;
		margin: 2rem 0 .8rem;
	}

	&__name {
		font-family: $font--heavy;
		font-weight: 700;
	}

	&__link {
		color: $background--light;
		text-decoration: none;

		&:focus,
		&:hover {
			text-decoration: underline;
		}
	}

	&__heading {
		color: $background--light;
		margin: .8em 0 .6em;
		font-size: 1.5em;
	}

	&__sub-heading {
		color: $background--light;
		margin: 1rem 0 .6em;
		font-size: .9em;
	}

	&__paragraph {
		&--small {
			font-size: .8em;
		}
	}

	&__divider {
		border-width: 0 0 1px;
		border-color: transparentize($background--light, 0.5);
		width: 2rem;
		margin: 1.8rem 0;
	}
}



.sitemap {
	overflow: hidden;
	color: $background--light;

	&__link {
		padding: .2rem 0;
		display: block;
	}
}





/*-------------------------------------*\
	404 styles
\*-------------------------------------*/

.page-404 {
	background: $accent;
	padding: 10% 15%;

	&__url {
		color: white;

		&:hover, &:focus {
			color: $accent;
			text-decoration: underline;
		}
	}

	&__title, &__sub-title {
		color: white;
	}

	&__sub-title {
		font-size: 1.4em;
	}
}





/*-------------------------------------*\
	Imports
\*-------------------------------------*/

@import 'companies';

@import 'events';

@import 'fair';

@import 'pagination';
