/*-------------------------------------*\
	IOB-WEBSITE WORDPRESS THEME: COMPANIES
	See style.css for the WP info.
	- Nils Westhoff

	companies.scss:
	+ front-page styles
	+ companies archive styles
	+ single company styles
\*-------------------------------------*/





/*-------------------------------------*\
	Front-page styles
\*-------------------------------------*/

.company {
  &--small {
    background: white;
    flex-basis: 20%;
    flex-grow: 1;
    flex-flow: row wrap;
    margin: 0 2.5% 2*$pad;
    padding: $pad;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: 100%;
      height: auto;
    }

    @media (max-width: $brk--real-phone) {
      flex-basis: 45%;
      padding: $pad/2;
    }
  }
}





/*-------------------------------------*\
	Archive styles
\*-------------------------------------*/

.company {
  &--small {
    &__title {
      font-size: 1.2em;
      width: 100%;

      a {
        text-decoration: none;
        color: black;

        &:hover, &:focus {
          text-decoration: underline;
        }
      }
    }

    &__type {
      font-size: .8em;
    }

    &__link {
      font-size: .8em;
      width: 100%;

      text-decoration: none;
      color: $accent--secondary;

      &:hover, &:focus {
        color: darken($accent--secondary, 15%);
        text-decoration: underline;
      }
    }
  }
}
