/*-------------------------------------*\
	IOB-WEBSITE WORDPRESS THEME: COMPANIES
	See style.css for the WP info.
	- Nils Westhoff

	companies.scss:
	+ front-page styles
	+ companies archive styles
	+ single company styles
\*-------------------------------------*/





/*-------------------------------------*\
	Front-page styles
\*-------------------------------------*/

.company {
  &--small {
    flex-basis: 25%;
    flex-flow: column wrap;
    padding: $pad;
    display: flex;
    justify-content: flex-start;

    &__thumb {
      background: white;
      width: 100%;
      display: flex;
      align-items: center;

      &:before {
        content: "";
        float: left;
        padding-top: 100%;
      }
    }

    img {
      padding: $pad;
      width: 100%;
      height: auto;
    }

    @media (max-width: $brk--phone) {
      flex-basis: 33%;
      padding: $pad/2;
    }

    @media (max-width: $brk--real-phone) {
      flex-basis: 45%;
    }
  }
}





/*-------------------------------------*\
	Archive styles
\*-------------------------------------*/

.company {
  &--small {
    &__title {
      font-size: 1.2em;
      width: 100%;
      margin: 0.8rem 0 .4rem;

      a {
        text-decoration: none;
        color: black;

        &:hover, &:focus {
          text-decoration: underline;
        }
      }
    }

    &__type {
      font-size: .8em;
      margin: .4rem 0;
    }

    &__link {
      font-size: .8em;
      margin: .4rem 0;
      width: 100%;

      text-decoration: none;
      color: $accent--secondary;

      &:hover, &:focus {
        color: darken($accent--secondary, 15%);
        text-decoration: underline;
      }
    }
  }
}
