/*-------------------------------------*\
	IOB-WEBSITE WORDPRESS THEME: EVENTS
	See style.css for the WP info.
	- Nils Westhoff

	companies.scss:
	+ front-page styles
	+ events archive styles
	+ single event styles
\*-------------------------------------*/





/*-------------------------------------*\
	Front-page styles
\*-------------------------------------*/

.event {
  &--small {
    flex-basis: 33.33%;
    flex-grow: 1;
    padding: 0 $pad 2*$pad;

    img {
      width: 100%;
      height: auto;
    }

    a {
      text-decoration: none;
      color: black;

      &:hover, &:focus {
        text-decoration: underline;
      }
    }

    @media (max-width: $brk--real-phone) {
      flex-basis: 100%;
      padding: 0 $pad $pad;
    }
  }
}

.section {
  &__wrapper {
    &--events {
      justify-content: space-between;
    }
  }
}





/*-------------------------------------*\
	Archive styles
\*-------------------------------------*/

.event {
  &--archive {
    &__top {
  		padding: .1rem 5%;
  		margin: 0;
  		background: $accent;
      display: flex;
      justify-content: center;
  	}

    &__title {
      font-size: 4em;
  		color: $background--light;

      @include fatUnderline();

      @media (max-width: $brk--phone) {
        font-size: 2.6em;
      }
  	}

    &__descr {
  		font-size: 1.3em;
  	}
  }
}





/*-------------------------------------*\
	Single event styles
\*-------------------------------------*/

.event {
  &--single {
    &__top {
      width: 100%;
  		padding: .1rem 0;
  		margin: 0 0 2.5rem;
  		background: $accent;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
  	}

    &__title {
      font-size: 3em;
  		color: $background--light;

      @include fatUnderline();

      @media (max-width: $brk--phone) {
        font-size: 2.6em;
      }
  	}

    &__meta {
      color: white;
      margin: 0 0 2rem;
    }

    &__img {
      width: 100%;
      height: auto;
      max-width: 768px;
      margin: 0 auto -5rem;
      display: block;
    }

    &__wrapper {
      margin: 0 auto;
      max-width: 768px;
      padding: 2*$pad $pad;
    }
  }
}
