/*-------------------------------------*\
	IOB-WEBSITE WORDPRESS THEME: EVENTS
	See style.css for the WP info.
	- Nils Westhoff

	companies.scss:
	+ front-page styles
	+ events archive styles
	+ single event styles
\*-------------------------------------*/





/*-------------------------------------*\
	Front-page styles
\*-------------------------------------*/

.event {
  &--small {
    flex-basis: 30%;
    padding: 2*$pad 0;

    img {
      width: 100%;
      height: auto;
    }
  }
}
