/*-------------------------------------*\
	IOB-WEBSITE WORDPRESS THEME: FAIR
	See style.css for the WP info.
	- Nils Westhoff

	companies.scss:
	+ front-page styles
	+ fair page styles
\*-------------------------------------*/





/*-------------------------------------*\
	Front-page styles
\*-------------------------------------*/





/*-------------------------------------*\
	Page styles
\*-------------------------------------*/

.fair {
  &__top {
		padding: .1rem 5%;
		margin: 0;
		background: $accent;
    display: flex;
    justify-content: center;
	}

  &__title {
    font-size: 4em;
    line-height: 1em;
		color: $background--light;

    @include fatUnderline();

    @media (max-width: $brk--phone) {
      font-size: 2.6em;
    }
	}

  &__descr {
		font-size: 1.3em;
	}

  &__map {
    max-width: 100%;
    align-self: flex-start;
  }
}
