// Grid
$pad: 1rem;

//breakpoints
$brk--real-phone: 568px;
$brk--phone: 768px;
$brk--tablet: 992px;
$brk--desktop: 1200px;
$brk--large-desktop: 1920px;

.section {
	&__title {
		display: inline-block;
		margin: 0;

		&__wrapper {
			display: flex;
			flex-flow: row wrap;
			justify-content: center;
		}
	}

	&__subtitle {
		flex-basis: 100%;
		flex-grow: 1;
	}

	&__wrapper {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: flex-start;
		padding: 2*$pad $pad;
		max-width: 960px;
		margin: 0 auto;

		p, img {
			width: 100%;
			height: auto;
		}
	}

	&__link {
		&__wrapper {
			flex-basis: 100%;
			display: flex;
			justify-content: center;
		}
	}
}
